body {
  background-image: url("./disco-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

#snake-box {
  text-align: center;
  margin: auto;
  width: 75;
  height: auto;
}

.game-title {
  display: inline;
  font-size: 40px;
  letter-spacing: 10px;
}

canvas {
  display: inline;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid black;
  border-radius: 5px;
}